$pure-white: #ffffff;

$darkest-grey: #2C2D30;
$dark-grey: #78818A;
$darker-grey: #404B55;
$sharp-grey: #C5C5C5;
$light-grey: #e8e8e8;
$lightest-grey: #F9F9F9;

$light-grey-scroll-background: #F3F3F3;
$light-grey-scroll-thumb: #d9d9d9;

$darker-green: #20865d;
$slightly-darker-green: #07A968;
$green: #2ab27b;

$darker-blue: #333089;
$slightly-darker-blue: #0D6FF5;
$blue: #2780f8;
$light-blue: #d3ecfa;
$lightest-blue: #edf7fd;

$red: #FF2014;

$slack-sidebar: #4d394b;
$slack-sidebar-font: #ab9ba9;
$slack-sidebar-hover: #3e313c;
$slack-sidebar-add-hover: #92788F;
