$pure-white: #ffffff;

$dark-grey: #78818A;
$darker-grey: #404B55;
$sharp-grey: #C5C5C5;
$light-grey: #e8e8e8;
$lightest-grey: #F9F9F9;

$green: #2ab27b;
$darker-green: #20865d;

$blue: #2780f8;

$red: #FF2014;
