/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "rules";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

div, section, ul, li, html, body, main, h1, h2, h3, h4, h5, h6, p, button, form, input, header, a {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-size: 14px;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  color: $darker-grey;
}

textarea, input, button {
  outline: none;
}

p, a {
  font-weight: 300px;
  font-size: 17px;
}

a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.3rem;
  line-height: 2.7rem;
  letter-spacing: -1px;
  color: $darker-grey;
}

button {
  padding: 10px 14px 12px;
  border: 2px solid $dark-grey;
  border-radius: 4px;
  font-weight: 700;
  color: $dark-grey;
}

button:hover {
  cursor: pointer;
}

@import "reusable_styles";
@import "splash";
@import "chat";
