// message banner styling

.message-banner {
  height: 60px;
  border-bottom: 1px solid $light-grey;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 11px;
}

.message-banner div:first-child {
  font-size: 17px;
  box-sizing: border-box;
  white-space: nowrap;
}

.message-banner button {
  flex: 0 0 104px;
}

// individual message styling

.individual-message-container {
  list-style-type: none;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.individual-message-first-line {
  display: flex;
  justify-content: flex-start;
}

.individual-message-username {
  color: $darkest-grey;
  font-weight: 700;
  font-size: 16px;
}

.individual-message-body {
  font-weight: 400;
  color: $darkest-grey;
  font-size: 15px;
}

.individual-message-date {
  color: $sharp-grey;
  font-weight: 300;
  left: -10px;
  top: 2px;
  position: relative;
}

// message form styling

.new-message-form, .subscribe-channel-button-container {
  position: absolute;
  bottom: 0px;
  width: calc(100vw - 232px);
  background-color: $pure-white;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-start;
}

.new-message-form input {
  width: calc(100vw - 320px);
}

.new-message-form input[type="text"] {
  margin-right: 30px;
}

.new-message-form input[type="submit"] {
  margin-left: 30px;
  width: 50px;
  border: 2px solid $sharp-grey;
  color: $sharp-grey;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 30px;
  background-color: transparent;
}

.new-message-form input[type="submit"]:hover, .new-message-form input[type="submit"]:focus {
  background-color: $green;
  color: white;
  border-color: $green;
  box-shadow: none;
}

.new-message-form input[type="text"] {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  border-width: 2px;
}

.new-message-form input[type="text"]:hover, .new-message-form input[type="text"]:focus {
  border-color: $sharp-grey;
}


// other

.message-body-container {
  margin-bottom: 100px;
}

// center the subscribe button

.subscribe-channel-button-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

// formatting for firefox

#new-message-form.message-form-firefox {
  width: calc(100vw - 240px);
}




//
