.ReactModal__Content.ReactModal__Content--after-open {
  // necessary to overcome the default padding
  padding: 0px !important;
}

// channel modal

.fa-times-circle {
  position: absolute;
  right: 59px;
  top: 50px;
  font-size: 50px;
  color: $green;
}

.fa-times-circle:hover {
  color: $slightly-darker-green;
  cursor: pointer;
}

.channel-modal-container {
  text-align: left;
  padding-top: 150px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.channel-modal-container h1 {
  padding-bottom: 30px;
  align-self: stretch;
}

.channel-browse-list li {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  border-bottom: 1px solid $sharp-grey;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-right: 2px;
}

.channel-browse-list li:hover {
  background-color: $lightest-grey;
}

.channel-browse-list a {
  text-decoration: none;
}

// styling for new channel

.channel-modal-container.new-channel-container {
  padding-top: 150px;
}

.channel-modal-container input {
  width: 100%;
}

.channel-modal-container input[type="submit"] {
  border: 1px solid $green;
  margin-top: 24px;
  padding-left: 7px;
  padding-right: 8px;
}

.channel-modal-container input[type="submit"]:hover {
  background-color: $slightly-darker-green;
  border-color: $slightly-darker-green;
  box-shadow: none;
}

.channel-modal-container form {
  text-align: center;
}

.new-channel-errors {
  color: $red;
  font-size: 20px;
  padding-bottom: 18px;
}

.channel-browse-preview, .channel-browse-preview-hidden {
  color: $green;
  margin-right: 20px;
}

.channel-browse-preview-hidden {
  visibility: hidden;
}

.channel-browse-list li:hover .channel-browse-preview-hidden {
  visibility: visible;
}

.channel-browse-list {
  max-height: 50vh;
  overflow:auto;
}

// dm candidate modal

.selected-candidate-form {
  display: flex;
  justify-content: space-between;
  margin-bottom:20px;
}
.selected-candidate-form input[type="submit"] {
  width: 60px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
}

.selected-candidate-container {
  margin-right: 17px;
  width: calc(100% - 60px);
  border: 1px solid $sharp-grey;
  border-radius: 4px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  overflow-x: scroll;
}

.selected-candidate-container:hover {
  cursor: text;
}

.selected-candidate-container:focus, .selected-candidate-container:hover {
  border-color: $blue;
}

.selected-candidate-container input[type="text"]{
  border-color: transparent;
  min-width: 200px;
}

.selected-candidate {
  height: 30px;
  padding: 0px 10px;
  margin: 10px;
  margin-right: 0px;
  background-color: $green;
  color: $pure-white;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.fa-times {
  margin-left: 10px;
  font-size: 19px;
  cursor: pointer;
}
