.small-margin-bottom {
  margin-bottom: 10px;
}
.medium-margin-bottom {
  margin-bottom: 15px;
}

.semi-large-margin-bottom {
  margin-bottom: 20px;
}
.large-margin-bottom {
  margin-bottom: 30px;
}

.solid-button-style {
  color: white;
  padding-top: 10px;
  border-radius: 4px;
}

.green-button {
  background-color: $green;
  border: none;
}

.green-button:hover {
  background-color: $slightly-darker-green;
}
